.contact_form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contact_form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contact_form input,
.contact_form textarea {
    border: 1px solid #ddd;
    padding: 10px;
    outline: none;
}

.contact_form button {
    color: #fff;
    background-color: var(--primary-green);
    border: none;
    padding: 10px 30px;
    align-self: flex-start;
}
.contact_form button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}